table {
	border-spacing: 0.3vw 0.2vh;
}

td {
	width: 5vw;
	height: 9.1vh;
	border: 0.1vmin solid black;
	text-align: center;
	font-family: Arial;
}

thead {
	width: 100vw;
	height: 9.1vh;
	font-size: 5vmin;
	color: black;
	font-family: Arial;
}

img {
	width: 14vmin;
	height: auto;
}

span {
	font-size: 2vmin;
}

.Alkali_metal {
	background-image:linear-gradient( white, red);
}

.Alkaline_earth_metal {
	background-image: linear-gradient(white, orange);
}

.Transition_metal {
	background-image: linear-gradient(white, yellow);
}

.Lanthanide {
	background-image: linear-gradient( white, yellowgreen);
}

.Actinide {
	background-image: linear-gradient( white, chartreuse);
}

.Post_transition_metal {
	background-image: linear-gradient( white, green);
}

.Metalloid {
	background-image: linear-gradient( white, deepskyblue);
}

.Polyatomic_nonmental {
	background-image: linear-gradient( white, cyan);
}

.Diatomic_nonmental {
	background-image: linear-gradient(white, blueviolet);
}

.Noble_gas {
	background-image: linear-gradient( white, blue);
}

.Unclassified {
	background-image: linear-gradient( white, grey);
}

.Center {
	font-size: 1.5vmin;
	text-align: center;
	line-height: auto;
}

.Up {
	font-size: 1vmin;
	text-align: right;
}

.Down {
	font-size: 1vmin;
	text-align: left;
	line-height: auto;
}

.space {
	border: 0;
}