div#menu
{
	width:100px;
}

div#menu a
{
	color:#000;
}

div#menu ul
{
	padding:0;
	width:100%;
	border:1px solid;
	margin:0px;
	background:#fff;
}

div#menu li:hover
{
	background:#edd;
}

div#menu li.sousmenu:hover
{
	background:#ebb;
}

div#menu ul li
{
	position:relative;
	list-style:none;
	border-bottom:1px solid;
}

div#menu ul ul
{
	position:absolute;
	top:-1px;
	left:100px;
	display:none;
}

div#menu li a
{
	text-decoration:none;
	padding:4px 0 4px 8px;
	display:block;
	border-left:10px solid #bbb;
	width:70%;
}

div#menu ul.niveau1 li.sousmenu:hover ul.niveau2
{
	display:block;
}

div#menu ul.niveau2 li.sousmenu:hover ul.niveau3
{
	display:block;
}

div#menu ul li a:hover
{
	border-left-color:red;
}

div#menu ul ul li a:hover
{
	border-left-color:#0f0}


div#menu ul ul ul li a:hover{

	border-left-color:#00f;
}

